body{ 
    margin:0;
    font-family: 'Lobster', cursive;
    
}
h1{

    font-size:  50px;
}
.high-light{
    color: rgba(235, 169, 46, 0.747);
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(orange  , red);
    padding: 10px 20px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}
.banner{
    
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 50px   ;
}
p{
    text-align: justify;
    margin: 20  px;
    color: rgba(48, 40, 40, 0.445);
}
.banner2{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
    
}
.banner3{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left  ;

}
#box-broder1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon ,tomato);
    border-image-slice: 1;
    border-radius: 10px;
    background-color: white;
}
#box-broder2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(164, 203, 248) ,rgb(69, 56, 248));
    border-image-slice: 1;
    border-radius: 10px;
}
footer p{
    text-align: center;
    font-size: 12px;
    color: rgba(109, 96, 96, 0.74);
    
}
